@model SmallTask.Models.User

@{
    ViewData["Title"] = "Small Task";
}
<title>@ViewData["Title"]</title>

<form style="margin: 50vh auto 0; width:fit-content" method="get">
            <span>Input your name </span>
            <input type="text" name="Name"/>
            <button type="submit">Submit</button>
</form>